@import '../../../styles/settings.scss';

.root {
  padding-top: 30px;
  padding-bottom: 30px;
}

.priceSettings {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    font-size: 2rem;
    font-weight: bold;
  }
}
